@model Shopify_ZeinIbrahim.Models.Inventory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.minimumAllowedStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minimumAllowedStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SKUID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
